In [1]:
import pandas as pd
import openpyxl
pd.set_option('display.max_rows', 100)

In [3]:
file_path = '../src/assets/dataset.xlsx'
data = openpyxl.load_workbook(file_path,read_only=True)

In [6]:
# View data here
sheet_obj = data.active
df = pd.DataFrame(sheet_obj.values)

In [7]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Num_contribuable,Year,Taille,Form_juridique,Region,Produire_IP,Produire_IC,Produire_TVQ,Produire_RAS,Declarer_IP,Declarer_IC,Declarer_TVQ,Declarer_RAS,Mode_transmission
1,1,2014,MOYENNE,C,MONTREAL,None,1,1,0,None,0,1,1,logiciel
2,1,2016,MOYENNE,C,MONTREAL,None,1,1,0,None,0,0,1,logiciel
3,1,2018,MOYENNE,C,MONTREAL,None,0,0,0,None,1,1,0,logiciel
4,1,2015,MOYENNE,C,MONTREAL,None,1,0,1,None,0,1,0,logiciel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191874,38272,2016,PETITE,P,None,None,None,None,None,None,None,None,None,indeterminé
191875,38272,2017,PETITE,P,None,None,None,None,None,0,None,None,None,indeterminé
191876,38272,2014,PETITE,P,None,None,None,None,None,None,None,None,None,indeterminé
191877,38272,2015,PETITE,P,None,None,None,None,None,None,None,None,None,indeterminé
191878,38272,2018,PETITE,P,None,0,None,None,None,0,None,None,None,logiciel

In [1]:
import pandas as pd

In [7]:
import random
formated_dataset = pd.DataFrame({
    'Obligation' : ['Produire à temps', 'Declarer sans erreurs']*8, 

    'Lois' : [  'IP', 'IP', 
                  'IC', 'IC',
                  'RAS', 'RAS',
                  'TVQ', 'TVQ', 
                  'IP_P', 'IP_D', 
                  'IC_P', 'IC_D',
                  'RAS_P', 'RAS_D',
                  'TVQ_P', 'TVQ_D'],

    'Valeurs' : [random.random() for _ in range(16)],
    'Par obligation' : [ 'Non', 'Non', 'Non', 'Non', 'Non', 'Non', 'Non', 'Non',
                            'Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui'
                        ]
                    })
formated_dataset

               Obligation   Lois   Valeurs Par obligation
0        Produire à temps     IP  0.945551            Non
1   Declarer sans erreurs     IP  0.396644            Non
2        Produire à temps     IC  0.261435            Non
3   Declarer sans erreurs     IC  0.257422            Non
4        Produire à temps    RAS  0.983031            Non
5   Declarer sans erreurs    RAS  0.053027            Non
6        Produire à temps    TVQ  0.073088            Non
7   Declarer sans erreurs    TVQ  0.404837            Non
8        Produire à temps   IP_P  0.897492            Oui
9   Declarer sans erreurs   IP_D  0.003259            Oui
10       Produire à temps   IC_P  0.279211            Oui
11  Declarer sans erreurs   IC_D  0.148426            Oui
12       Produire à temps  RAS_P  0.671199            Oui
13  Declarer sans erreurs  RAS_D  0.753139            Oui
14       Produire à temps  TVQ_P  0.548789            Oui
15  Declarer sans erreurs  TVQ_D  0.705166            Oui

In [2]:

data = pd.read_csv("assets/dataset.csv", delimiter=";", encoding="latin-1")

In [8]:
data

,Num_contribuable,Year,Taille,Form_juridique,Region,Produire_IP,Produire_IC,Produire_TVQ,Produire_RAS,Declarer_IP,Declarer_IC,Declarer_TVQ,Declarer_RAS,Mode_transmission
0,1,2014.0,MOYENNE,C,MONTREAL,NaN,1.0,1.0,0.0,NaN,0.0,1.0,1.0,logiciel
1,1,2016.0,MOYENNE,C,MONTREAL,NaN,1.0,1.0,0.0,NaN,0.0,0.0,1.0,logiciel
2,1,2018.0,MOYENNE,C,MONTREAL,NaN,0.0,0.0,0.0,NaN,1.0,1.0,0.0,logiciel
3,1,2015.0,MOYENNE,C,MONTREAL,NaN,1.0,0.0,1.0,NaN,0.0,1.0,0.0,logiciel
4,1,2017.0,MOYENNE,C,MONTREAL,NaN,1.0,0.0,1.0,NaN,0.0,1.0,0.0,logiciel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191873,38272,2016.0,PETITE,P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,indeterminé
191874,38272,2017.0,PETITE,P,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,indeterminé
191875,38272,2014.0,PETITE,P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,indeterminé
191876,38272,2015.0,PETITE,P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,indeterminé
191877,38272,2018.0,PETITE,P,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,logiciel

In [9]:
list(data["Mode_transmission"].dropna().unique())

['logiciel', 'manuscript', 'indeterminé']

In [5]:
years = data["Year"].dropna().unique()
list(map(lambda x:int(x),years))

In [7]:
formes_juridiques = data["Form_juridique"].dropna().unique()
list(formes_juridiques)

['C', 'P', 'S']

In [10]:
#Number of C
data_C_count = data[data["Form_juridique"]=="C"].count()
data_C_count["Form_juridique"]

120570

In [11]:
#Number of P
data_C_count = data[data["Form_juridique"]=="P"].count()
data_C_count["Form_juridique"]

66525

In [12]:
#Number of S
data_C_count = data[data["Form_juridique"]=="S"].count()
data_C_count["Form_juridique"]

4265

In [14]:
X,Y,Z = [data[data["Form_juridique"]==var].count()["Form_juridique"] for var in list(formes_juridiques)]